#Firebase configs
FIREBASE_API_KEY=YOUR_FIREBASE_API_KEY
FIREBASE_AUTH_DOMAIN=YOUR_FIREBASE_AUTH_DOMAIN
FIREBASE_PROJECT_ID=YOUR_FIREBASE_PROJECT_ID
FIREBASE_STORAGE_BUCKET=YOUR_FIREBASE_STORAGE_BUCKET
FIREBASE_MESSAGING_SENDER_ID=YOUR_FIREBASE_MESSAGING_SENDER_ID
FIREBASE_APP_ID=YOUR_FIREBASE_APP_ID
FIREBASE_MEASUREMENT_ID=YOUR_FIREBASE_MEASUREMENT_ID
FIREBASE_DATABASE_URL=YOUR_FIREBASE_DATABASE_URL

#Google Configs
GOOGLE_WEB_CLIENT_ID=YOUR_GOOGLE_WEB_CLIENT_ID

#Facebook Configs
FACEBOOK_APP_ID=YOUR_FACEBOOK_APP_ID
FACEBOOK_LOGIN_PROTOCOL_SCHEME=YOUR_FACEBOOK_LOGIN_PROTOCOL_SCHEME
FACEBOOK_CLIENT_TOKEN=YOUR_FACEBOOK_CLIENT_TOKEN
FACEBOOK_SHA1=YOUR_FACEBOOK_SHA1
FACEBOOK_SHA_256=YOUR_FACEBOOK_SHA_256

#Deep links
DEEPLINK=YOUR_DEEPLINK
DEEPLINK_ONE=YOUR_DEEPLINK_ONE
DYNAMIC_LINK=YOUR_DYNAMIC_LINK
FALLBACK_URL=YOUR_FALLBACK_URL
